.button {
  height: 40px;
  text-align: center;
  color: rgb(12, 2, 28);
  border-radius: 4px;
  padding: 6px 2px;
  cursor: pointer;
  background-color: rgb(255, 213, 2);
  white-space: nowrap;
  font-family: "Bloggersanslight" !important;
  font-size: 18px !important;
  transition: background-color 0.3s ease;

  &:active {
    transform: translateY(0.5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  }
}

.button-check {
  width: 96%;
  margin-top: 8px;
  border-radius: 4px;
  height: 34px;
}

.button-check:hover {
  background-color: #8b7eb6;
}

.collection-btn {
  position: relative;
  width: 210px;
  margin: 10px auto;
  font-family: "HP2";
}

.modal-close:hover, .collection-btn:hover {
  background-color: #8b7eb6;
}

.set-view-btn {
  width: 27px;
  height: 27px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #ed9205;
}

.filter-name-clean-btn:hover, .set-view-btn:hover {
  background-color: #fff;
}

.btn-grid {
  background-image: url('../../public/img/view-grid.svg');
}
.btn-row {
  background-image: url('../../public/img/view-rows.svg');
}
.btn-statistic {
  background-image: url('../../public/img/statistic.svg');
}
.btn-collection {
  background-image: url('../../public/img/collection.svg');
}

.footer-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
}

.footer-opener {
  right: 10px;
  bottom: 24px;
}

.footer-opener.up {
  background-image: url('../../public/img/filter.png');
  background-size: 60%;
}

.footer-opener.down {
  background-image: url('../../public/img/arrow_down.svg');
  fill: #51497c;
}

.footer-clean-btn {
  right: 74px;
  bottom: 24px;
  background-image: url('../../public/img/clean.svg');
  background-color: rgb(255, 213, 2);
  background-size: 60%;
}

.modal-close {
  position: absolute;
  top: 10px; right: 15px;
  border: none;
  font-size: 36px;
  cursor: pointer;
  z-index: 2;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(255, 213, 2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2828;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.54);
}

.filter-name-clean-btn {
  width: 27px;
  height: 100%;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url('../../public/img/clean.svg');
  background-color: #ed9205;
}

.filter-reset-btn {
  border-radius: 4px;
  background-color: rgb(176, 1, 1);
  color: #fff;
  padding: 4px;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
}