.card-preview-header {
  min-width: 200px;
  width: 99.5%;
  height: 6px;
  background-color: #51497c;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 6px;
  width: 59vw;
}

.card-preview {
  height: 200px;
  padding: 2px;
  //border: 2px solid #51497c;
  //border-top: 6px solid #51497c;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
}

.card-preview:hover {
  -webkit-box-shadow: 0 0 27px 7px rgba(81, 73, 124, 0.2);
  -moz-box-shadow: 0 0 27px 7px rgba(81, 73, 124, 0.2);
  box-shadow: 0 0 27px 7px rgba(81, 73, 124, 0.2);
}

.card-preview-image-container {
  height: 70%;
}

.card-preview-image {
  width: auto;
  height: 100%;
  flex-shrink: 0;
}

.card-checked-mask {
  position: relative;
}

.card-checked-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #51497c;
  background-image: url("../../public/img/checked_back.png");
  opacity: 0.25;
}

.card-in-modal {
  width: 250px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  clip-path: polygon(-35% 47%, 50% -6%, 139% 49%, 3% 250%, 0% 100%);
  background-color: #ffeebe;
}

.card-modal-image {
  width: auto;
  height: 250px;
  margin: 60px auto 0;
}

.card-in-modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/card_back.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-card-name {
  width: 211px;
  max-width: 211px;
  background-color: #af7306;
  border: 2px solid #fdcc55;
  color: #efd994;
  line-height: 28px;
  padding: 2px 4px;
  border-radius: 2px;
  text-align: center;
  position: absolute;
  z-index: 4;
  text-shadow: -1px 0 #4b1b00, 0 1px #4b1b00, 1px 0 #4b1b00, 0 -1px #4b1b00;
  top: 60%;
  left: 50.5%;
  margin-left: -107px;
  font-family: "HP2";
  font-size: 32px;
}

.card-tag {
  width: max-content;
  padding: 5px 12px;
  border-radius: 15px;
  line-height: 12px;
  text-align: center;
  color: rgb(221, 211, 238);
  background-color: #51497c;
  z-index: 4;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
  -webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.54);
}