.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
}

.carousel-image-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.carousel-image-container__back {
  display: flex;
  gap: 10px;
  transition: transform 0.4s ease;
}

.carousel-btn-left {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carousel-btn-disabled {
  opacity: 0.3;
}
.carousel-btn-visible {
  opacity: 1;
}

.carousel-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.carousel-image-box {
  display: flex;
  justify-content: center;
}