@import "buttons";
@import "container";
@import 'card';
@import "modal";
@import "check";
@import "other";
@import "progress";
@import "carousel";

@font-face {
  font-family: "HP2";
  font-style: normal;
  font-weight: 400;
  src: local("HP2"), url(./HP2.ttf) format('truetype');
}

@font-face {
  font-family: "Bloggersanslight";
  font-style: normal;
  font-weight: 400;
  src: local("Bloggersanslight"), url(./Bloggersanslight.woff) format('woff');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bloggersanslight";
  font-size: 18px;
  color: #2e2828cf;
}

html, .collection-body {
  background: rgb(248, 248, 248);
}

body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-bg {
  //background:
  //        linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)),
  //        url('../../public/img/bg.png') center/cover no-repeat;
}

.break-line {
  white-space: pre-line;
  line-height: 1.7em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  outline: none;
  text-decoration: none;
  line-height: 15px;
  color: rgba(14, 10, 255, 0.6);
}

.preload-image {
  display: none;
}

.shadow {
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
}

.vertical-divider {
  height: 40px;
  width: 1px;
  border-left: 2px solid #000;
  margin: 0 10px;
}

.pretty-text {
  color: #efd994;
  text-shadow: -1px 0 #4b1b00, 0 1px #4b1b00, 1px 0 #4b1b00, 0 -1px #4b1b00;
  font-family: "HP";
}

h1 {
  margin: 20px 0 0 20px;
  font-weight: bold;
}

button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.h100 { height: 100vh }

.mt-20 { margin-top: 20px }
.mt-40 { margin-top: 40px }