.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 380px;
  min-height: 545px;
}