@media only screen and (max-device-width: 1000px) {
  .card-grid {
    margin-left: 8px;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 2px;
  }
  .card-preview {
    height: 10em;
  }
  .button {
    height: 40px;
    margin: 0;
  }
  .header-logo-title-img {
    width: 200px;
    margin: 0;
    height: auto;
  }
  .collection-info-header {
    margin-left: 24px;
  }
  .header {
    height: auto;
  }
  .header-text {
    margin: 0 0 2px -10px;
  }
  .collection-body {
    margin-top: 84px;
  }
  .modal-window {
    width: 97%;
  }
  .modal-card-name {
    top: 54.5%;
  }
  .modal-card-info {
    margin-top: 40px;
  }
}

