@media only screen and (max-device-width: 1000px) {
  .card-grid {
    padding-top: 4px;
    margin-left: 8px;
    grid-template-columns: repeat(3, 32%);
    grid-gap: 2px;
  }
  .card-preview {
    height: 10em;
  }
  .button {
    height: 36px;
  }
  .header-logo-title-img {
    width: 190px;
    margin: 4px 0 0 4px;
    height: auto;
  }
  .collection-btn {
    line-height: 26px;
  }
  header {
    height: auto;
  }
  .header-text {
    display: none;
    margin: 0 0 2px -10px;
  }
  .collection-body {
    margin-top: 80px;
    width: auto;
  }
  .modal-content {
    width: 97%;
  }
  .modal-card-name {
    top: 63%;
  }
  .footer {
    bottom: -14px;
    width: 100%;
  }
  .card-in-modal {
    clip-path: polygon(-35% 47%, 50% -6%, 139% 49%, 30% 250%, -10% 100%);
  }
  .top-small {
    margin-top: 70px;
  }
  .top-medium {
    margin-top: 85px
  }
  .modal-close{
    width: 50px;
    height: 50px;
  }
  .card-row {
    width: 100%;
    top: 90px;
    position: fixed;
    height: 90vh;
    overflow: scroll;
  }
  .base-container {
    width: auto;
    max-width: min-content;
  }
  .start-preview-img {
    width: 250px;
  }
  .break-line {
    line-height: 1.2em;
  }
  h1 {
    text-align: center;
  }
  .collection-header {
    width: 100%;
  }
  .header-search {
    margin-right: 8px;
    width: 180px;
  }
}

